<div class="container col-md-7 col-lg-8">
  <form class="form" novalidate="">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-group ">
              <label>First Name</label>
              <input [(ngModel)]="f_name" class="form-control" type="text" name="name" placeholder="John Smith" value="John Smith">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Last name</label>
              <input [(ngModel)]="l_name" class="form-control" type="text" name="username" placeholder="johnny.s" value="johnny.s">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>title</label>
              <input [(ngModel)]="title" class="form-control" type="text" placeholder="user@example.com">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <div class="form-group">
              <label>About</label>
              <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-end">
        <button mat-button mat-dialog-close>Ok</button>
        <button class="btn btn-primary" (click)="OnsubmitData()" >Save Changes</button>
      </div>
    </div>
         </form>        
</div>