<div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body profile-wrapper">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-pic text-center">
                  <img src="https://bootdey.com/img/Content/user-453533-fdadfd.png" alt="" class="img-fluid rounded-circle">
                </div>
              </div>
              <div class="col-md-9">
                <div class="profile-info">
                  <h1 class="card-title">bakr oukessou</h1>
                  <span class="text-muted d-block">developper </span>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  </p>
                  <div class="connect">
                    <button type="button" class="btn btn-success btn-sm me-2"><span class="fas fa-check"></span> Following</button>
                    <button type="button" class="btn btn-primary btn-sm"><span class="fas fa-comments"></span> Chat</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form (ngSubmit)="handlePostSubmit()">
              <textarea class="form-control mb-3" placeholder="What's on your mind?"name="post"  rows="3" [(ngModel)]="postText" > </textarea>
                <input type="file" name="file" (change)="onFileSelected($event)">
              <div class="row">
                <div class="col-sm-6 text-end">
                  <button type="submit" class="btn btn-primary">Post</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body" style="height:280px;" *ngFor="let post of posts">
            {{post.content}}
            <img src="{{file}}"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  